:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#canvas {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  color: tomato;
}
.trigger-for-transition {
  position: relative;
}
#canvas.transition-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
section {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  z-index: 2;
  display: grid;
  padding: 2rem;
  place-items: center;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.section-three {
  background-color: #000;
}
